@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .bg-gradient {
    background: linear-gradient(
      rgb(255, 255, 255) -6.71%,
      rgb(235, 235, 242) 56.19%,
      rgb(223, 223, 231) 106.56%
    );
  }

}
